<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      To Do
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- List of Sliding Items -->
<ion-list>
  <ion-item-sliding>
    <ion-item>
      <ion-label>Comprar pão</ion-label>
      <ion-icon slot="start" name="radio-button-off"></ion-icon>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option (click)="unread(item)" color="danger">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="add()" color="dark">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
